<ion-header>
  <app-menu></app-menu>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title id="titulo"><img src=".\assets\images\home-assets\novedades.png"></ion-title>
  <app-home-novelties></app-home-novelties>
  <ion-title id="titulo"><img src=".\assets\images\home-assets\ofertassemanales.png"></ion-title>
  <app-home-novelties></app-home-novelties>
  <ion-title id="titulo"><img src=".\assets\images\home-assets\masvendido.png"></ion-title>
  <app-home-novelties></app-home-novelties>


</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>