#titulo{
    margin-top: 1%;
    text-align: center;
    font-size: 270%;
    font-style: bold;
    color: rgb(36, 38, 114);
}

#contenedor-form{
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
}
#button{
    margin-top: 5%;
    padding-left: 40%;
}