<ion-footer class="foot">
  <ion-toolbar color="dark">
    <ion-buttons class="navigator">
    <ion-button shape="round" color="medium" strong="true" >Condiciones de Venta</ion-button>
    <ion-button shape="round" color="medium" strong="true" >Información Legal</ion-button>
    <ion-button shape="round" color="medium" strong="true" >Política de Privacidad</ion-button>
    <ion-button shape="round" color="medium" strong="true" >Política de Cookies</ion-button>
    <ion-button shape="round" color="medium" strong="true" (click)="goToAboutUs()">Contacto</ion-button>
  </ion-buttons>
  <ion-grid class="datos">
    <ion-row>
      <ion-col>Versión: 1.0.6.28793. Copyright © 2019 2021 VIDJOGOS España - Todos los derechos reservado</ion-col>
      <ion-col class="redes">
        <ion-buttons>
          <ion-button href="https://www.facebook.com/"><ion-icon name="logo-facebook" size="large"></ion-icon></ion-button>
          <ion-button href="https://twitter.com/"><ion-icon name="logo-twitter" size="large"></ion-icon></ion-button>
          <ion-button href="https://www.youtube.com/"><ion-icon name="logo-youtube" size="large"></ion-icon></ion-button>
          <ion-button href="https://www.instagram.com/"><ion-icon name="logo-instagram" size="large"></ion-icon></ion-button>
      </ion-buttons>
      </ion-col>
      <ion-col>Todas las marcas son propiedad de sus respectivos fabricantes. Todos los impuestos incluidos. </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>