.navigator{
    margin-left: 25%;
}
.datos{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 80;
}
.redes{
    max-width: 20%;
    margin-left: 10%;
}